name: Update CSV

on:
    schedule:
      - cron:  '0 9 1 * *'
    workflow_dispatch:

permissions: read-all

jobs:
    update-data:
        runs-on: ubuntu-latest

        permissions:
            pull-requests: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a
              with:
                  disable-sudo: true
                  egress-policy: audit

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python 3.13
              uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@b3c09d653574e9565eee68b45174a4e890aef58d

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .

            - name: Run src.main
              run: |
                  python -m src.main

            - name: Commit Changes
              uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0
              with:
                commit_message: Updated legislator data
